.input_form {
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.submit_btn {
   float: right;
}