  /* ========== HAMBURGER NAV BUTTON ====================== */
  .hamburger_wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
  }
  
  .hamburger {    
    position: relative;   
    padding: 2rem;
    width: 4rem;
    height: 3rem;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.hamburger span {
    width: 2rem;
    height: .1rem;
    background-color: #fafafa;
    margin-bottom: .5rem;
    transition: all 500ms ease;
    position: absolute;
}

.hamburger span:nth-child(1) {
    left: 1rem;
    top: 1.8rem;
}

.hamburger span:nth-child(2) {
    left: 1rem;
    top: 2.4rem;
}


.hamburger span:nth-child(2):after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2rem;
    height: 100%;
    background-color: #fafafa;
    transition: all 0.4s ease-in-out;
}


.hamburger span:nth-child(3) {
    right: 1rem;
    top: 3rem;
}

.hamburger.active span:nth-child(1),
.hamburger.active span:nth-child(3) {
    width: 0;
}

.hamburger.active span:nth-child(2) {
    transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2):after {
    transform: rotate(90deg);
}
      
 
  @media screen and (min-width: 480px) {
    .hamburger {
      display: none;
  }
}
