header {
    position: relative;
    width: 100%;
    height: 60px;
    display: inline-block;
   /*  background: linear-gradient(120deg, rgb(20, 20, 20), #0f0f0f, #020101, #1b1b1b, #000000); */
    text-align: center;
    animation: headerIntro 3s ease-in 0s 1 forwards;
}

header > h1 {
    font-family: var(--font-heading);
    float: left;
    font-size: clamp(3rem, 10vw, 4rem); 
    line-height: 1.1s;
    color: #000000;
    font-weight: 100;
}


@keyframes headerIntro {
    from {
        opacity: 0;
        -webkit-transform: translateY(-20vh);
        transform: translateY(-20vh);
}
to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}}