@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');
@import url('./css/animations.css');
@import url('./css/colors.css');
@import url('./css/typography.css');
@import url('./css/logo.css');
@import url('./css/header.css');
@import url('./css/nav.css');
@import url('./css/hero.css');
@import url('./css/section.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background: linear-gradient(to bottom, rgb(20, 20, 20), #0f0f0f, #020101, #1b1b1b, #000000);
}

h1 {
  font-size: clamp(3rem, 3.5vw, 4.5rem);
  text-align: center;
  font-size: 32px;
  color: #e3ffa8;
  z-index: 20;
}

h2 {
  width: 100%;
  font-size: clamp(2rem, 3vw, 3.5rem); 
}


p {
  font-size: 1.2rem;
  margin: 4rem auto 0;
  color: #ffffff;
  font-weight: 300;
  text-align: justify;
}

p:nth-child(odd) {
  color: pink;
}
.about > h2 {
  font-weight: 900;
  color: #e5fcc2;
}


.hamburger {
  display: none;
}


/* ========== HAMBURGER NAV BUTTON ====================== */
 

/* ========== HAMBURGER NAV BUTTON ====================== */
 .hamburger {
  display: block;
  position: fixed;
  right: 1rem;
  left: auto;
  top: 120px;
  width: 46px;
  height: 32px;
  transform: all 1s ease-in-out;
  z-index: 1000;
}

.openBtn {
  position: absolute;
  padding: 2px;
  width: 32px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: all 1s ease-in-out;
}

.line {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fafafa;
}

.closeBtn {
  position: absolute;
  padding: 2px;
  width: 32px;
  height: 24px;
  display: flex;
  visibility: hidden;
  transform: all 0.8s ease-in-out;
}

.lineC {
  position: relative;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 80%;
  height: 2px;
  background-color: tomato;
}

.line1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.line2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
} 

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
}
}
