@import url('../header.css');
@import url('../nav.css');
@import url('../hamburger.css');
@import url('../typography.css');


#projects_page line {
  background-color: #121212;
}

header > p {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.8rem;
  color: white;
  font-family: Coffee;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in all;
  overflow-x: hidden;
}

.wrapper {   
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 100rem;
  border-bottom-right-radius: 100rem;
}

.colorHeadline {
  text-transform: uppercase;
  font-size: clamp(3rem, 3.5vw, 4.5rem);
  text-align: center;
  margin: 2rem auto;
  margin-bottom: 4rem;
  color: limegreen;
  transform: rotate(10deg) skewX(25deg) translate(0,0);
  filter: drop-shadow(0px 1px 5px black);

  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.colorHeadline:hover {
transform: rotate(10deg) skew(25deg) translate(10px, -20px);
filter: drop-shadow(-30px 30px 30px rgba(0,0,0,0.5));
cursor: pointer;
}

.btn_change {
outline: none;
padding: 1rem 1.5rem;
font-size: 1.5rem;
width: 80%;
transform: rotate(10deg) skewX(25deg) translate(0,0);
transition: 0.5s;
box-shadow: -20px 20px 10px rgba(0,0,0,0.5);
}
.btn_change:before {
content: '';
position: absolute;
top: 8px;
left: -20px;
height: 102%;
width: 20px;
background: #141414;
transform: 0.5;
transform: rotate(0deg) skewY(-45deg);

}
.btn_change:after {
content: '';
position: absolute;
bottom: -20px;
height: 20px;
width: 102%;
left: -10px;
background: #1c1c1c;
transform: 0.5;
transform: rotate(0deg) skewX(-45deg);

}

.btn_change:hover {
transform: rotate(10deg) skew(25deg) translate(10px, -20px);
box-shadow: -30px 30px 30px rgba(0,0,0,0.5);
}
.btn_change:active {
transform: rotate(10deg) skewX(25deg) translate(0,0);
box-shadow: -20px 20px 10px rgba(0,0,0,0.5);
}

section {
  height: 100vh;
  width: 100%;
}

.project {
  align-self: center;
  width: 80%;
  height: 80%;
  
}

.sectionZero {
    background-color: rgb(215, 245, 93);
    color: rgb(176, 141, 35);
}

.sectionOne {
  background-color: rgb(104, 48, 172);
  color: rgb(113, 250, 105);
}


.sectionTwo {
  background-color: #90BEDE;
  color: rgb(53, 101, 57);
}

.sectionThree {
  background-color: rgb(201, 165, 157);
  color: rgb(166, 88, 119);
}

.sectionFour {
  background-color: rgb(248, 184, 48);
  color: rgb(25, 118, 212);
}

/* 

colors
ok matches
body  rgb(215, 245, 93)    ,rgb(104, 48, 172)  ,rgb(201, 165, 157) ,
text rgb(176, 141, 35)     ,rgb(113, 250, 105) ,rgb(166, 88, 119)  ,
wrapper rgb(53, 101, 57)    ,rgb(29, 214, 234)  , rgb(148, 138, 54) ,
button ?                   ,                   ,rgb(6, 144, 85)    ,


*/